@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

/* Header Section */
header {
  padding: 65px;
}

header .logo img {
  width: 100%;
}

header nav {
  background: linear-gradient(#6060d7, #9499f1);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  align-items: center;
  margin-left: 170px;
  padding: 0 40px;
  justify-content: space-between;
}

header nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-right: 60px;
}

header nav ul li a {
  color: #fff;
  display: block;
  border-top: 2px solid transparent;
  padding: 20px 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav ul li a:hover {
  border-color: #fff;
  color: #fff;
}

header nav form {
  position: relative;
}

header nav form input[type="text"] {
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
  outline: 0;
  background: #fefbfb;
  min-width: 260px;
}

header nav form button {
  all: unset;
  position: absolute;
  right: 15px;
  top: 5px;
  color: #9397f0;
}
